<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
    <!-- header -->
    <div th:fragment="header">
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"  href="../../bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{/css/main/header.css}"  href="../../../css/main/css/header.css" />

<!--
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">WebSiteName</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Page 1</a></li>
                        <li><a href="#">Page 2</a></li>
                        <li><a href="#">Page 3</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
-->






        <div class="header">
            <div class="container header-content">
                <div class="header-canvas">
                    <div class="navi-block">
                        <div class="padding-top">
                            <a href="">Menu1</a>
                        </div>
                    </div>
                    <div class="navi-block">
                        <div class="padding-top">
                            <a href="">Menu2</a>
                        </div>
                    </div>
                    <div class="navi-block">
                        <div class="padding-top">
                            <a href="">Menu3</a>
                        </div>
                    </div>
                    <div class="navi-block">
                        <div class="padding-top">
                            <a href="">Menu4</a>
                        </div>
                    </div>
                    <div class="navi-block">
                        <div class="padding-top">
                            <a href="">Menu5</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- v-1 -->
    <div th:fragment="navigation">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top header-style" role="navigation">
            <div class="header-tel-number col-lg-10 col-lg-offset-1 col-xs-12">
                <span><i class="fa fa-phone"></i> 093-238-32-62</span>
                <span class="lang" id="ukr" title="Українською"><a href="/"><img src="/images/Ukraine-Flag.png"/></a></span>
                <span class="lang" id="en" title="English"><a href="/en"><img src="/images/United-Kingdom-flag.png"/></a></span>
            </div>
            <div class="container col-lg-10 col-lg-offset-1 col-xs-12">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div id="brand-title-div">
                        <a class="navbar-brand" href="/">
                            <img id="brand-image" src="/images/alatar2.png" style="height:50px"/>
                            <div id="brand-title"> АЛАТАР</div>
                            <span id="brand-text">Кращі пиломатеріали в Києві</span>
                        </a>

                    </div>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/"><i class = "fa fa-home"></i> Головна</a>
                        </li>
                        <li>
                            <a href="/about/"><i class = "fa fa-tree"></i> Про компанію</a>
                        </li>
                        <li>
                            <a href="/product/"><i class = "fa fa-bars"></i> Товари</a>
                        </li>
                        <li>
                            <a href="/vacancy/"><i class="fa fa-info"></i> Вакансії</a>
                        </li>
                        <li>
                            <a href="/contacts/"><i class="fa fa-info"></i> Контакти</a>
                        </li>
                        <li>
                            <a href="/order/"><i class="fa fa-shopping-cart"></i> Замовлення</a>
                        </li>


                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

    </div>
</body>
</html>